*{
   margin: 0%;
   padding: 0%;
  }
 html body {
    height: 75%;
    width: 100%;
}
body {
    position: absolute;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-align: center;
}
.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
header {
    background-color: rgba(28, 8, 3, 0.297) ;
    padding: 2px;
    position: fixed;
    width: 100%;
    display: flex;  
    height:  50px;
}
header img {
    height: 100%;
}
header .container-menu, header nav {
    width: 90%;
    height: 100%;
}
.menu-header {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none; 
    height: 100%;
    align-items: center;
}
.menu-header li a {
   text-decoration: none;
}
.menu-header li a:hover{
    background-color: rgb(249, 244, 237);
    border-radius: 10px;
    padding: 6px;
}
main {
    display: flex;
    gap: 30px;
    align-items: center; 
    height: 50%;
    margin-top: 65px;
    width: 100%;
}
main div iframe {
    display: flex;
    flex-direction: column;
}
main dvi p{
    margin: 10px 0 0 70px;
    font-size: 22px;
    text-align: justify;
}
.galeria{
    height: 100%;
    width:100%;
}
.galeri .galer{
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 390px;
}
.galeri div h2{
    font-size: 65px;
    padding-top: 25px;
    text-align: left;
    margin-left: 40px;
}
.galeri .galer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    transform: ;
}
.galer div h3{
    margin: 15px 0;
    font-size: 50px;
    text-transform: capitalize;

}
.galer div .automat{
    border-radius: 45px;
}
.galer div a{
    font-size: 22px;
    text-decoration: none;
    margin: 15px 0;
}
.noticia{
    height: 300px;
    text-align: left;
    background-image: url(../imag/campaña4.jpg);
    background-size: cover;
    padding-top: 160px;
}
.noticia h2{
    font-size: 204px;
    margin-left: 50px;
    padding-top: 60px;
    color: floralwhite;
    transform: scaleY(1.5);
    height: 90px;
}
.m-pagos{
    border:#181616 solid 2px ;
    border-radius: 50%;
    margin: 60px 0 0 0;
    background-color: #85a8a4;
    width: 98%;
}
.m-pagos h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: 10px 10px;
}
.m-pagos img{
    margin: 0 10px 0 10px;
}
.contacto {
    margin: 35px;   
}
.contacto  {
    margin: 150px 0 150 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.contacto div{
    display: flex;
    gap: 15px;
}
.contacto div div{
    display: flex;
    align-items: center;
}
.contacto div div img{
    height: 70px;
    width: 70px;
}
.contacto h2{
    display: flex;
    align-items: center;
}
.contacto div div a{
   border: 2px black solid;
}
.sedes{
    background-color: rgb(223, 142, 36, 0.8)
}
.sedes ul {
    display: flex;
    align-items:center;
    margin: 15px 15px;
    width: 100%;
    height: 100px;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    list-style: none;
}
.sedes ul li {
    text-align: justify;
    margin: 0 30px;
}
.sedes ul li a{
    margin: 0 15px 0 15px;
    align-items: center;
    text-decoration: none;
}

/* index-nosotros-html */
.section1{
    margin-top: 54px;
    display: flex;
    height: 420px;
}
.section1 .imagsport{
    background-color: white;
    padding: 130px 0;
}
.section1 div div {
    font-size: 21px;
    text-align: justify;
    margin: 28px;
}
.section1 div div h1{
    padding: 12px;
    font-size: 50px;
    text-transform: capitalize;
}
.section1 .section2{
    margin: 33px 17px;
    font-size: 17px;
    width: 350px;
}
.section1 .section2 div{
    text-align: justify;
}
/* cierre index-nosotros-html  */

/* inicio index galeria html*/
.gale {
	 padding-bottom: 3em; 
}
.gale2 {
	width:100%;
	max-width: 110rem;
	margin: 28px;
	position: relative;
    top: 30px;
}
.gale2 ul {
	list-style-type: none;
	padding: 0;
    height: 360px
}
.gale2 ul li {
	display: inline-block;
	position: relative;
	z-index: 0;
	transition: all .4s;
}
.gale2 ul li:hover{
    transform: rotate(0deg)scale(1.25);
    z-index: 20;
}
.gale2 ul li a img{
	display: block;
	width: 250px;
	height: auto;
}
.gale2 ul li a {
	background-color:#fff;
	box-shadow:0 0 10px 3px rgba(0, 0, 0, .6) ;
	margin: 0 6px 20px;
	padding: 10px 10px 25px;
	position:relative ;
	z-index:20 ;
	text-decoration: none ;
	display: inline-block;
}
.gale2 ul li a:hover{
    transform: rotate(0deg)scale(1.25);
}
.gale2 ul li a:after {
	content: attr(title);
	color: #334;
	font-size:1.25em ;
	position: relative;
	top: 15px;
}
.gale2 ul li:nth-child(1){ 
    transform: rotate(4deg);
} 
 .gale2 ul li:nth-child(2){ 
    transform: rotate(-20deg); 
 } 
 .gale2 ul li:nth-child(3){
    transform: rotate(14deg); 
 } 
 .gale2 ul li a:hover { 
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, .8); 
  } 
.gale .gale2 h4{
    font-size: 2.2em;
    background-color: aquamarine;
    border-bottom: #334 solid 2px;
    margin: 55px;
}   
/* cierre index galeria html*/

/* inicio html- servicios */
.servicios {
    height: 95%;
    padding: 0;
}
.servicios .serfinan{
    display: flex;
    top: 54px;
    background: wheat;
    background-image: linear-gradient(-16deg,red, #00000038);
    margin-bottom: 40px;
    align-items: center;
    height: 75%;
    padding: 15px;
    position: relative;
    width: 100%;
}
.serfinan div div {
    font-size: 25px;
    text-align: end;
    margin: 10px;
}
.serfinan div div h1{
    text-transform: uppercase;
    font-size: 41px;
    margin-bottom: 25px;
}
.serfinan div img{
    margin: 31px;
    border: black 2px solid;
}
.servicios .serviseguro{
    height: 360px;
}
.serviseguro{
    background-image: url("../imag/todoriesgo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 2px;
}
.serviseguro div{
    display: flex;
    width: 85%;
}
.serviseguro div div {
    font-size: 45px;
    margin: 10px;
    padding: 24px;
}
.serviseguro div div ul li{
    height: 36px;
    list-style: none;
    text-transform: uppercase;
    margin: 0 31px;
    color: #b10f0f;
}
.serviseguro div .motor{
        height: 265px;
        width: 100%;
}
.serviseguro div .motor p{
    margin: 0 40px;
    font-size: 18px;
    padding: 32px;
    width: 180px;
    text-align: left;
    color: blue;
}
.servicios .seguro{
    padding: 15px;
    background-image: url("../imag/riesgo.jpg");
    height: 560px;
}
.servicios .seguro div{
    width: 99%;
    margin: 10px;
}
.seguro .segursoat{
    display: flex;
}
.segursoat h3{
   text-transform: uppercase;
    font-size: 41px;
}
.segursoat div p{
    text-align: justify;
    font-size: 22px;
    color:white ;
}
.segursoat .soat div{
    height: 75%;
    margin: 58px 0;
}
/* cierre html- servicios */

/* inicio index contactanos */
.container{
    width: 100%;
    background-color: #beefea;
}
#main-area{
    height: 90%;
    margin-top: 24px;
    width: 100%;
}
#main-area .post{
    margin-top: 27px;
    width: 100%;
    background-color: antiquewhite;
    border: solid;
}
.post .titular {
        margin: 25px;
        font-size: 25px;
}
#contacto #formulario, #contacto #mapa {
    float: left;
    width: 50%;
    height: 510px;
}
#contacto #formulario {
    text-align: left;
}
#contacto #mapa iframe {
	border: solid;
	height: 480px;
	width: 90%; 
    margin-bottom: 10px;
    border: solid;
}
#contacto input, #contacto textarea {
	width: 90%;
	color: rgba(0, 210, 100, 1);
	border-radius: 0.25em;
	border: 0.09375rem solid rgb(150, 58, 58);
	margin: 0.65em;
	padding: 0.65em;
}
#contacto input[type="submit"] {
    background: linear-gradient(rgba( 0, 210, 100, 1), rgba(0, 130, 60, 1));
    border: 0;
    color: rgba(255, 255, 255, 1);
    width: 92%;
}
label{
    display: flex;
    width: 95%;
}
#formulario div input{
    width: 20px;
}
/* cierre index contactanos */

/* inicio html-noticias*/
aside div{
    margin-top: 54px;
}
aside div h1{
    background-image:url("../imag/estacion.jpg");
    height: 195px;
    font-size: 135px; 
    color: darkgray;
    width: 100%; 
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card div h2{
    margin: 12px ;
}
.cards .card .card-text{
    text-align: justify;
}

/* vista mobil */ 

@media screen and (max-width: 576px) { 
    header{
        background-color: #93c7c7;
        padding: 2px;
        position: fixed;
        width: 100%;
        z-index: 100;
        display: flex;
        height: 50px;
    }

    .contenedor main{
        margin-right: -45px;
        gap: 10px;
        margin:90px 0 ;
    }
    main {
        display: flex;
        gap: 30px;
        align-items: center;
        height: 50%;
        margin-top: 65px;
        width: 109%;
    }
    main div p {
        font-size: 16px;
        margin: 0 12px;
    }
    .galeria div div h3{
        font-size: 13px;
        margin: 5px;
    }
    .contenedor .galeria div div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor .galeria{
        background-color: rgb(255,255,255);
        height: 1010px;
        border-top: #181616 solid 2px;
    }
    .galeria div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 900px;
    }
    .galeria div div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .galeria div div .automat{
        width: 85%;
    }
    .contenedor .galeria h2{
        margin: 35px;
    }
    .contenedor .noticia{
        margin: 25px 0;
        border: outset;
    }

    .imagPoli div img{
        width: 95%;
        border: #96e3e2 solid 20px;
    }
    .m-pagos{
        width: 97%;
    }
    .contenedor .contacto{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 28%;
    }
    .contacto h2{
        margin-left: 50px;
        padding: 13px;
    }

    .sedes{
        background-color:rgb(190 235 234 / 80%);
    }
    .sedes ul li {
        text-align: justify;
        margin: 0 30px;
    }
/*     html-nosotros*/
    .section1{
        display: block;
    }
    .section2 div p{
        text-align: justify;
        margin: 15px;
        color: white;
    }
    .contacto{
        width: 88%;
    }
    .contacto h2{
        flex-direction: row-reverse;
    }
    .contacto div{
        height: 123px;
        margin-top: 10px;
    }
    .contacto div .redes{
        margin-left: 57px;
    }
    article {
        text-align: justify;
        margin: 10px;
    }
    article div p {
        text-align: justify;
        margin: 10px;
    }
   
}

/* cierre vista mobil */









