*{
   margin: 0%;
   padding: 0%;
  }
 html body {
    height: 100%;
    width: 100%;
}
body {
    position: absolute;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-align: center;
}
.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
header {
    background-color:#85a8a4;
    padding: 2px;
    position: fixed;
    width: 76%;
    display: flex;  
    height:  50px;
}
header img {
    height: 100%;
}
header .container-menu, header nav {
    width: 100%;
    height: 100%; 
} 
.menu-header {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none; 
    height: 100%;
    align-items: center;
}
.menu-header li a {
   text-decoration: none;
}
.menu-header li a:hover{
    background-color: rgb(249, 244, 237);
    border-radius: 10px;
    padding: 6px;
}
main {
    display: flex;
    gap: 30px;
    align-items: center; 
    height: 50%;
    margin-top: 65px;
    width: 100%;
}
main div iframe {
    display: flex;
    flex-direction: column;
}
main div p{
    margin: 10px 0 0 70px;
    font-size: 22px;
    text-align: justify;
}
main div h1{
    font-size: 50px;
    text-transform: uppercase;
}
.galeria{
    height: 100%;
    width:100%;
}
.galeri .galer{
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 390px;
}
.galeri div h2{
    font-size: 65px;
    padding-top: 25px;
    text-align: left;
    margin-left: 40px;
}
.galeri .galer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
}
.galer div h3{
    margin: 15px 0;
    font-size: 50px;
    text-transform: capitalize;
}
.galer div a{
    font-size: 28px;
    text-decoration: none;
    margin: 15px 0;
    border-radius: 10px;    
    background-color: cadetblue;
    width: 125px;
}
.noticia{
    height: 300px;
    text-align: left;
    background-image: url(../imag/campaña4.jpg);
    background-size: cover;
    padding-top: 160px;
}
.noticia h2{
    font-size: 204px;
    margin-left: 50px;
    padding-top: 60px;
    color: floralwhite;
    transform: scaleY(1.5);
    height: 90px;
}
.m-pagos{
    border:#181616 solid 2px ;
    border-radius: 50%;
    margin: 60px 0 0 0;
    background-color: #85a8a4;
    width: 98%;
}
.m-pagos h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: 10px 10px;
}
.m-pagos img{
    margin: 0 10px 0 10px;
}
.contacto  {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 35px;  
}
.contacto div{
    display: flex;
    gap: 15px;
}
.contacto div div img{
    height: 70px;
    width: 70px;
}
.contacto h2{
    display: flex;
    align-items: center;
}
.contacto div div a{
    border: 2px black solid;
}
.sedes{
    background-image: linear-gradient(180deg, #85a8a4, transparent);
}
.sedes nav ul{
    display: flex; 
    align-items: center;
    height: 100px; 
    justify-content: center;
    gap: 20px;
} 
.sedes nav ul li {
    list-style: none;
}
.sedes nav ul li a{
    text-decoration: none;
    font-size: 22px;
}
.sedes nav ul li a strong{
    margin: 0 15px 0 15px;
}


/* index-nosotros-html */
.section1{
    margin-top: 54px;
    display: flex;
    height: 420px;
}
.section1 .imagsport{
    background-color: white;
    padding: 130px 0;
}
.section1 div div {
    font-size: 21px;
    text-align: justify;
    margin: 28px;
}
.section1 div div h1{
    padding: 12px;
    font-size: 50px;
    text-transform: capitalize;
}
.section1 .section2{
    margin: 33px 17px;
    font-size: 17px;
    width: 350px;
}
.section1 .section2 div{
    text-align: justify;
}
/* cierre index-nosotros-html  */

/* inicio index galeria html*/

.gale2 {
	width:100%;
	max-width: 110rem;
	margin: 28px;
	position: relative;
    top: 30px;
}
.gale2 ul {
	list-style-type: none;
	padding: 0;
    height: 360px
}
.gale2 ul li {
	display: inline-block;
	position: relative;
	z-index: 0;
	transition: all .4s;
}
.gale2 ul li:hover{
    transform: rotate(0deg)scale(1.25);
    z-index: 20;
}
.gale2 ul li a img{
	display: block;
	width: 250px;
	height: auto;
}
.gale2 ul li a {
	background-color:#fff;
	box-shadow:0 0 10px 3px rgba(0, 0, 0, .6) ;
	margin: 0 6px 20px;
	padding: 10px 10px 25px;
	position:relative ;
	z-index:20 ;
	text-decoration: none ;
	display: inline-block;
}
.gale2 ul li a:hover{
    transform: rotate(0deg)scale(1.25);
}
.gale2 ul li a:after {
	content: attr(title);
	color: #334;
	font-size:1.25em ;
	position: relative;
	top: 15px;
}
.gale2 ul li:nth-child(1){ 
    transform: rotate(4deg);
} 
 .gale2 ul li:nth-child(2){ 
    transform: rotate(-20deg); 
 } 
 .gale2 ul li:nth-child(3){
    transform: rotate(14deg); 
 } 
 .gale2 ul li a:hover { 
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, .8); 
  } 
.gale .gale2 h4{
    font-size: 2.2em;
    background-color:  #93c7c7;
    border-bottom: #334 solid 2px;
    margin: 55px;
}   
/* cierre index galeria html*/

/* inicio html- servicios */
.servicios {
    height: 95%;
    padding: 0;
}
.servicios .serfinan{
    display: flex;
    top: 54px;
    background: wheat;
    background-image: linear-gradient(-16deg,cadetblue, #00000038);
    margin-bottom: 40px;
    align-items: center;
    height: 75%;
    padding: 15px;
    position: relative;
    width: 100%;
}
.serfinan div div {
    font-size: 25px;
    text-align: end;
    margin: 10px;
}
.serfinan div div h1{
    text-transform: uppercase;
    font-size: 41px;
    margin-bottom: 25px;
}
.serfinan div img{
    margin: 31px;
    border: black 2px solid;
}
.servicios .serviseguro{
    height: 360px;
}
.serviseguro{
   background-color: cadetblue;
    background-image: linear-gradient(0deg, white, transparent);
}
.serviseguro div{
    display: flex;
    width: 85%;
}
.serviseguro div div {
    font-size: 45px;
    margin: 10px;
    padding: 24px;
}
.servicios .sedes ul{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    list-style: none;
}
.serviseguro div div ul li{
    height: 36px;
    list-style: none;
    text-transform: uppercase;
    margin: 0 31px;
    color: #b10f0f;
}
.serviseguro div .motor{
        height: 265px;
        width: 100%;
}
.serviseguro div .motor p{
    margin: 0 40px;
    font-size: 18px;
    padding: 32px;
    width: 180px;
    text-align: left;
    color: blue;
}
.servicios .seguro{
    padding: 15px;
    background-image: url("../imag/riesgo.jpg");
    height: 560px;
}
.servicios .seguro div{
    width: 99%;
    margin: 10px;
}
.seguro .segursoat{
    display: flex;
}
.segursoat h3{
   text-transform: uppercase;
    font-size: 41px;
}
.segursoat div p{
    text-align: justify;
    font-size: 22px;
    color:white ;
}
.segursoat .soat div{
    height: 75%;
    margin: 58px 0;
}
/* cierre html- servicios */

/* inicio index contactanos */
.container{
    width: 100%;
    background-color: #beefea;
}
#main-area{
    height: 90%;
    margin-top: 24px;
    width: 100%;
}
#main-area .post{
    margin-top: 27px;
    width: 100%;
}
#main-area .post .titular{
    margin: 25px;
    font-size: 25px;
}
#main-area .post .titular p{
    margin: 15px 60px 0 0;
}
#contacto #formulario, #contacto #mapa {
    float: left;
    width: 50%;
    height: 510px;
}
#contacto #formulario {
    text-align: left;
}
#contacto #mapa iframe {
	border: solid;
	height: 480px;
	width: 90%; 
    margin-bottom: 10px;
    border: solid;
}
#contacto input, #contacto textarea {
	width: 90%;
	color: rgba(0, 210, 100, 1);
	border-radius: 0.25em;
	border: 0.09375rem solid rgb(150, 58, 58);
	margin: 0.65em;
	padding: 0.65em;
}
#contacto input[type="submit"] {
    background: linear-gradient(rgba( 0, 210, 100, 1), rgba(0, 130, 60, 1));
    border: 0;
    color: rgba(255, 255, 255, 1);
    width: 70%;
    margin-left: 15%;
}
label{
    display: flex;
    width: 95%;
}
#formulario form div p{
    font-size: 19px;
    text-align: justify;
    margin: 10px 0 0 10px;

}
#formulario form div p input{
    width: 40px;
}
/* cierre index contactanos */

/* inicio html-noticias*/
.notitulo{
    margin: 129px 0 0 0;
}
.notitulo div{
    margin-top: 20px;
}
.notitulo div h1{
    background-image:url("../imag/estacion.jpg");
    height: 195px;
    font-size: 135px; 
    color: darkgray;
    width: 100%; 
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 180px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card div h2{
    margin: 12px ;
}
.cards .card .card-text{
    text-align: justify;
    font-size: 20px;
}
/* cierre html-noticias*/



/* vista mobil */ 

@media screen and (max-width: 576px) { 

    header {
        height: 125px; 
        background-color:  #85a8a4;
        text-align: left;
        width: 100%;
    }
    .container-menu nav .menu-header{
        display: block;
    }
    .menu-header li{
        margin: 0 0 0 30px;
    }
    .menu-header li a {
        font-size: 22px;
    }
    main {
        display: block;
        margin-top: 129px;
    }
    #main-area .post{
        margin-top: 129px;
    }
    main div h1{
        font-size: 50px;
        text-transform: uppercase;
        padding: 15px 0 0 0;
    }
    main div p{
        font-size: 20px;
        margin: 20px;
        text-align: justify;
    } 
    main iframe{
        height: 270px;
        width: 540px;
    }
    #formulario form div p {
        font-size: 14px;
    }
    .gale .gale2{
        display: block;
        top: 85px;
        margin: 0;
        height: 1830px;
    }
    .gale .gale2 div div div ul li a img{
        width: 160px;
    }
    .gale .gale2 div div div ul{
        height: 450px;
     }
     .section1{
        margin-top: 128px;
        height: 485px;
        display: contents;
    }
    .section1 div div{
        margin: 0;
    }
    .section1 div div h1{
        text-align: center;
    }
    .section1 .section2{
        display: flex;
        margin: 0px;
        width: 100%;
        font-size: 20px;
    }
    .section1 .section2 div{
        margin: 0 17px 0 17px;
    }
    .section2 div img{
        width: 240px;
        height: 262px;
    }
    .section1 div text{
        margin: 15px;
    }
    .mi-noti .notitulo div{
        margin-top: 0px;
    }
    .post .titular p{
        margin: 15px 12px 0 0;
    }
    .galeri .galer{
        display: inline;
    }
    .galeri .galer div{
        font-size: 30px;
        display: flow-root;
    }
    .galer div a {
        padding: 3px 15px;
        font-size: 20px;
    }
    .galeria .galeri{
        background-color: cadetblue;
        background-image: linear-gradient(180deg, white, transparent);
        height: 1020px;
    }
    .noticia{
        height: 215px;
    }
    .noticia h2{
        font-size: 136px;
    }
    .contacto div{
       display: block;
    }
    .contacto div div div{
        display: flex;
        gap: 90px;
    }
    .contacto div div div h2{
        margin: 5px 0 15px 0;
    }
    .sedes nav ul{
        align-items: center;
        gap: 3px;
    }
    .sedes nav ul li a{
        font-size: 10px;
    }
    .sedes nav ul li a strong{
        font-size: 13px;
    }







    
}