*{
   margin: 0%;
   padding: 0%;
  
}
 html body {
    height: 75%;
    width: 100%;
}
body {
    position: absolute;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-align: center;
}
.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
section {
    height: 100%; 
    padding: 15px 8px;
    position: relative;
    width: 100%;
}
header {
    background-color: rgba(28, 8, 3, 0.297) ;
    padding: 2px;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;  
    height:  50px;
}
header img {
    height: 100%;
}
header .container-menu, header nav {
    width: 90%;
    height: 100%;
}
.menu-header {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none; 
    height: 100%;
    align-items: center;
}
.menu-header li a {
   text-decoration: none;
   
}
.menu-header li a:hover{
    background-color: rgb(249, 244, 237);
    border-radius: 10px;
    padding: 6px;
}
main {
    display: flex;
    gap: 30px;
    align-items: center; 
    height: 50%;
    margin-top: 65px;width: 109%;
}
.section1 div h1 {
    font-size: 2.8em;
    text-transform: uppercase;
    margin: 12px;
}
.section1 div p {
    margin: 20px;
}

main div iframe {
    display: flex;
    flex-direction: column;
}

.galeria {
    background-color:rgb(223, 142, 36, 0.9) ;
    height: 500px ;
    border-top: #181616 solid 2px;
}
.galeria h2 {
    margin: 35px;
}
.galeria h3 {
    margin: 20px;
 }
.galeria div {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.galeria div div {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.galeria div div a {
    text-decoration: none;
}
.galeria div div img {
    height:100%;
    width: auto;
    background-color: #beefea;
}
.automat, .deport, .cuatrim {
    border-radius: 50%;
}

.noticia{
    margin: 25px 0;
    border: outset;
}
.imagPoli div img{
    border: #ffc107 solid 20px;
    width: 95%;
}
.imagPoli{
    height: max-content;
}
.m-pagos{
    border:#181616 solid 2px ;
    border-radius: 50%;
    margin: 15px 10px;
    background-color: #85a8a4;
    width: 98%;
}
.m-pagos h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: 10px 10px;
}
.m-pagos img{
    margin: 0 10px 0 10px;
}
.contacto {
    margin: 35px;   
}
.contacto  {
    margin: 150px 0 150 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.contacto div{
    display: flex;
    gap: 15px;
    
}
.contacto div div{
    display: flex;
    align-items: center;
}
.contacto div div img{
    height: 70px;
    width: 70px;
}
.contacto h2{
    display: flex;
    align-items: center;
}
.contacto div div a{
   border: 2px black solid;
}

.sedes{
    background-color: rgb(223, 142, 36, 0.8)
}
.sedes ul {
    display: flex;
    align-items:center;
    margin: 15px 15px;
    width: 100%;
    height: 100px;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    list-style: none;
}
.sedes ul li {
    text-align: justify;
    margin: 0 30px;
}
.sedes ul li a{
    margin: 0 15px 0 15px;
    align-items: center;
    text-decoration: none;
}


/* index-nosotros-html */
.section1{
    height: auto;
    background-color: antiquewhite;
    border-bottom: #181616 solid 3px;
    display: flex;
    margin-top: 54px;
}
.section2 {
    display: flex;
    align-items: center;
    height: auto;
    background-color: cadetblue;
    border-bottom: #181616 solid 3px;
}
.section1:nth-child(1){
    text-align: left;
}

/* cierre index-nosotros-html  */


/* inicio index galeria html*/
.gale {
	 padding-bottom: 3em; 
     margin: 0;
     background-color: bisque;
     height: fit-content;
     border-bottom: groove;
}
    .gale2 {
	width:100%;
	max-width: 110rem;
	margin: 28px;
	position: relative;
    top: 30px;
}
.gale2 ul {
	list-style-type: none;
	padding: 0;
    height: 360px
}
.gale2 ul li {
	display: inline-block;
	position: relative;
	z-index: 0;
	transition: all .4s;
}
.gale2 ul li a img{
	display: block;
	width: 250px;
	height: auto;
}
.gale2 ul li a {
	background-color:#fff;
	box-shadow:0 0 10px 3px rgba(0, 0, 0, .6) ;
	margin: 0 6px 20px;
	padding: 10px 10px 25px;
	position:relative ;
	z-index:0 ;
	text-decoration: none ;
	display: inline-block;
}
.gale2 ul li a:after {
	content: attr(title);
	color: #334;
	font-size:1.25em ;
	position: relative;
	top: 15px;
}
.gale2 ul li:nth-child(1){ 
    transform: rotate(4deg);
} 
 .gale2 ul li:nth-child(2){ 
    transform: rotate(-20deg); 
 } 
 .gale2 ul li:nth-child(3){
    transform: rotate(14deg); 
 } 
 .gale2 ul li a:hover { 
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, .8); 
  } 
.gale .gale2 h4{
    font-size: 2.2em;
    background-color: aquamarine;
    border-bottom: #334 solid 2px;
    margin: 55px;
}   

/* cierre index galeria html*/



/* inicio html- servicios */
.servicios {
    height: 95%;
}
.servicios .serfinan{
    display: flex;
    top: 39px;
    background: wheat;
    margin-bottom: 40px;
    align-items: center;
    height: 75%;
    padding: 15px;
    position: relative;
    width: 100%;
}
.serfinan div img{
    margin: 15px;
    border: black 2px solid;
}
.serviseguro{
    background-color: bisque;
    background-image: linear-gradient(2255deg, #df8e24cc, transparent);
    border-top: solid 2px;
}
.serviseguro div{
    display: flex;
    padding-left: 225px;
}
.serviseguro div h1{
    margin-bottom: 10px;
    padding: 10px;
}
.serviseguro p {
    text-align: left;
    font-family: system-ui;
    padding: 2px; 
}
.servicios .serviseguro{
    height: 30%;
    padding: 15px 6px;
    padding-left: 35px;
} 
.servicios .seguro{
    display: flex;
    align-items: self-start;
    text-align: left;
    height: 49%;
    padding: 15px;
    background-color: lightblue;
    background-image: linear-gradient(-21deg, #4545f9, transparent);
    border-left: double 4px;
}
.servicios .seguro div{
    width: 50%;
    margin: 10px;
}
.servicios .seguro div img{
    border: black solid;
    height: 300px;
}
.servicios .sedes ul li {
    margin: 0 30px 0 30px;
}

/* cierre html- servicios */



/* inicio index contactanos */
.container{
    width: 100%;
    background-color: #beefea;
}
#main-area{
    height: 90%;
    margin-top: 24px;
    width: 103%;
}
#main-area .post{
    
    width: 100%;
    background-color: antiquewhite;
    border: solid;
}
#contacto #formulario, #contacto #mapa {
    float: left;
    width: 50%;
}
#contacto #formulario {
    text-align: left;
}
#contacto #mapa iframe {
	border: solid;
	height: 480px;
	width: 95%; 
    margin-bottom: 10px;
    border: solid;
}
#contacto input, #contacto textarea {
	width: 90%;
	color: rgba(0, 210, 100, 1);
	border-radius: 0.25em;
	border: 0.09375rem solid rgb(150, 58, 58);
	margin: 0.65em;
	padding: 0.65em;
}
#contacto input[type="submit"] {
    background: linear-gradient(rgba( 0, 210, 100, 1), rgba(0, 130, 60, 1));
    border: 0;
    color: rgba(255, 255, 255, 1);
}
label{
    display: flex;
    width: 95%;
}
#formulario form div p label{
    margin-top: 20px;
}
#formulario div input{
    width: 20px;
}

/* cierre index contactanos */




/* inicio html-noticias*/

aside{
  height: 930px;
}
aside div{
    margin-top: 90px;
}
aside div div{
    width: 100%;
}
aside div h1{
    background-image:url("../imag/estacion.jpg");
    height: 195px;
    margin: 15px;
    font-size: 135px;
    color: darkgray;
    width: 100%;
}
.row{
    display: flex;
    height: 550px;
    justify-content: center;
   
   
}
.row .card {
    margin: 30px;
    height: 390px;
    width: 300px;
    display: flex;
    flex-direction: column;
} 
.card .card-body .card-title{
    margin: 10px 0;
    font-family: math;
    color: rgba(0, 0, 0, .7);
    text-transform: uppercase;
    font-size: 25px;
}
.card .card-body .card-text{
    color: crimson;
    font-family: system-ui;
    text-align: justify;
    margin-bottom: 25px;
}
.btn{
    text-decoration: none;
    font-size: 20px;
}   
.btn:hover{
    background-color: cadetblue;
    border-radius: 5px;
    padding: 6px;
}


/* cierre html-galeria */














/* vista mobil */ 

@media screen and (min-width: ≥576px) { 
    header{
        background-color: #93c7c7;
        padding: 2px;
        position: fixed;
        width: 100%;
        z-index: 100;
        display: flex;
        height: 50px;
    }

    .contenedor main{
        margin-right: -45px;
        gap: 10px;
        margin:90px 0 ;
    }
    main {
        display: flex;
        gap: 30px;
        align-items: center;
        height: 50%;
        margin-top: 65px;
        width: 109%;
    }
    main div p {
        font-size: 16px;
        margin: 0 12px;
    }
    .galeria div div h3{
        font-size: 13px;
        margin: 5px;
    }
    .contenedor .galeria div div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor .galeria{
        background-color: rgb(255,255,255);
        height: 1010px;
        border-top: #181616 solid 2px;
    }
    .galeria div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 900px;
    }
    .galeria div div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .galeria div div .automat{
        width: 85%;
    }
    .contenedor .galeria h2{
        margin: 35px;
    }
    .contenedor .noticia{
        margin: 25px 0;
        border: outset;
    }

    .imagPoli div img{
        width: 95%;
        border: #96e3e2 solid 20px;
    }
    .m-pagos{
        width: 97%;
    }
    .contenedor .contacto{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 28%;
    }
    .contacto h2{
        margin-left: 50px;
        padding: 13px;
    }

    .sedes{
        background-color:rgb(190 235 234 / 80%);
    }
    .sedes ul li {
        text-align: justify;
        margin: 0 30px;
    }
}

/* cierre vista mobil */









