main{
    display: flex;
    gap: 30px;
    align-items: center; 
    height: 520px;
    margin-top: 65px;
    width: 100%;
   
    iframe{
        display: flex;
        flex-direction: column;
        p{
            margin: 10px 0 0 70px;
            font-size: 22px;
            text-align: justify;
            h1{
                font-size: 50px;
                text-transform: uppercase;
            }
        }
    }
}