$colores:
rgb(249, 244, 237),
cadetblue,
floralwhite,
#fff,
#93c7c7,
wheat,
#beefea,
#85a8a4;

$spacios:
1.25em,
2.2em,
110rem,
3px,
2px,
5px,
6px,
8px,
10px,
12px,
13px,
15px, 
17px,
20px,
21px,
22px,
24px,
25px,
27px,
28px,
30px, 
31px,
32px,
33px,
35px,
36px,
40px,
41px,
45px,
50px,
54px,
58px,
60px,
65px, 
70px, 
90px,
100px,
125px,
129px,
130px, 
135px,
160px,
180px, 
195px,
204px,
215px,
240px,
250px,
262px,
270px,
390px, 
300px,
350px,
360px,
420px,
480px,
520px,
540px,
560px,
1200px,
1020px;

$porcentajes:
15%,
50%
70%,
75%
85%
90%,
95%,
98%,
99%,
100%;

$display:
flex,
block,
inline-block,
grid,
inline,
flow-root,
contents;

$align-items:
center,
justify,
left;


